[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bokeh = "*"
pypubsub = "*"
pytest = "*"
dependency_injector = "*"
pandas = "*"
flask = "*"
flask-jsonpify = "*"
flask-restful = "*"
flask-cors = "*"
flask-compress = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
