<!DOCTYPE html>
<html>
  <head>
    <title>Financial management!</title>
      <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" rel="stylesheet">
      <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Bugs found over the past {{ bars_count }} days</h1>
    {{ balance_div|safe }}
    {{ category_div|safe }}
    {{ profit_loss_div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
    {{ balance_script|safe }}
    {{ category_script|safe }}
    {{ profit_loss_script|safe }}
  </body>
</html>